/* Set the background color for the entire page */
body { 
    background-color: #ebebeb;
}

.container {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Style for the table to center it and make it responsive */
table {
    margin: auto; 
    text-align: center; 
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

/* Add padding and borders to table cells for clarity */
th, td {
    padding: 10px; 
    border: 1px solid #ddd; 
}

/* Style the table header */
th {
    background-color: #e34c26; 
    font-weight: bold; 
    color: #000000;
}

/* Add alternate row colors for the table body */
tbody tr:nth-child(even) {
    background-color: #ffffff; /* White background for even rows */
}

/* Highlight a row when hovered over */
tbody tr:hover {
    background-color: #918f8f; 
}

/* Media query for responsiveness on smaller screens */
@media screen and (max-width: 768px) {
    table {
        font-size: 0.9em; 
}
